body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #c5c5c5;
    color: #000000; }

header {
  background-color: #5a91f8;
  padding: 10px; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

nav li {
  display: inline-block;
  margin-right: 20px; }

nav a {
  text-decoration: none;
  color: #000000; }

header nav ul {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px; }

@media (max-width: 480px){
  article {
    width: 80%;
    max-width: 300px;
    padding: 1rem;    
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box; }
  p {
    text-align: justify;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word; }}

@media (max-width: 768px) {
  header {
    padding: 5px; }
  header nav ul {
    gap: 5px; }
  nav li {
    margin-right: 0;
    margin-bottom: 10px; }
  article {
    max-width: 300px;
    padding: 1.5rem; }
}

header nav ul li:first-child img {
  width: 30px;
  height: 30px;
  margin: 0 auto; }

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 20px; }

.posts {
  display: flex;
  flex-direction: column;
  align-items: center; }

article {
    color: #000000;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 900px;
    border: 1px solid #5a91f8;
    border-radius: 10px;
    box-sizing: border-box; }

h2 {
    font-size: 24px;
    margin-top: 0;
    text-align: center; }

a {
  color: #2f4f7f; }

footer {
    background-color: #c5c5c5;
    color: #000000;
    padding: 10px;
    clear: both;
    margin-top: auto; }

footer p {
    text-align: center; }

p {
    text-align: justify;
    text-justify: inter-word; }

#rodape {
  font-size: 15px; }

#rodape a {
  color: #000000; }

#neofetch {
  font-size: 11px; }

.destaque {
  background-color: #c5c5c5;
  padding: 20px;
  border: 1px solid #5a91f8;
  margin: 2rem auto;
  border-radius: 10px;
  box-sizing: border-box; }

#titulo {
  font-family: Pacifico, cursive;
  font-size: 60px;
  font-weight: normal;    
  color: #5a91f8;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
    
#titulo small {
    font-size: 20px;
    color: #666;
    font-style: italic; }

img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto; }

#cobraWeb {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto; }