body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #272727;
    color: #ddd;
}

header {
  background-color: #4d4d4d;   
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ddd;
}

header nav ul {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  header {
    padding: 5px;
  }
  header nav ul {
    gap: 5px;
  }
  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  article {
    max-width: 600px;
    padding: 1.5rem;
  }
}

header nav ul li:first-child img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {    
    color: #ddd;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    border: 1px solid #919191;
    border-radius: 10px;    
  }

h2 {
    font-size: 24px;
    margin-top: 0;
    text-align: center;
}

a {
  color: burlywood;
}

footer {
    background-color: #4d4d4d;
    color: #ddd;
    padding: 10px;
    clear: both;
    margin-top: auto;  
}

footer p {
    text-align: center;
  }

p {
    text-align: justify;
    text-justify: inter-word;
  }